.profile{
  width: 70%;
  margin: auto;
  border: 1px solid red;
  background-color: black;
}
.profile h1{
  text-decoration: underline;
  text-align: center;
  color: #541234;

}
.head{
  text-align: left;
  font-size: 20px;
  color: #451;
  background-color: #AED6F1;
  margin: 0;
}
.head strong{
  color: #568;
}
.head a:hover{
  color: #874;
}
.Objectives h2{
  text-align: center;
  color: #34495E;
}
.Educational{
  position: relative;
  left: 60px;
}
.referees{
  line-height: 20px;
}
.Objectives{
  background-color: #D4E6F1;
  margin: auto;
}
.Objectives p{
  color:#0B0403;
  font-size: 16px;
  line-height: 20px;

}
.ref{
  border: 1px solid white;
  border-radius: 20px;
}
